.otherhabits {
    padding: 3em;
    margin-bottom: 3em;
}

.othertitle {
    text-transform: capitalize;
}

.buttonpoint {
    padding: 2em;
    clip-path: polygon(26.18% 20.22%, 87.8% 16.3%, 85.77% 80.87%, 26.44% 83.04%, -5.74% 52.18%);
}

h2 {
}
