.title[b-5r79bu95u2] {
    display: flex;
    justify-content: space-between;
}

table[b-5r79bu95u2] {
    margin-top: 2em;
    width: 100%;
}

tr:nth-child(even)[b-5r79bu95u2] {
    background-color: #f2f2f2;
}

#customers tr:hover[b-5r79bu95u2] {
    background-color: #ddd;
}

table tbody tr td[b-5r79bu95u2] {
    padding: 9px;
    text-align: left;
}

table thead tr th[b-5r79bu95u2] {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #cccccc;
    color: black;
    padding: 9px;
}
